.tutorModal-description {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 25px;
    color: #64748b;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

.tutorModal-description-section{
    margin: 10px;
}

.tutor-book{
    font-size: 18px;
}